@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    /* background-color: #7C9FB9; */
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: #E8573D;
    color: #fff;
  }
}
